$blue-color: rgb(28, 89, 201);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  &::selection{
    background-color: inherit;
  }
}

body {
  background: radial-gradient(lighten($blue-color, 20%), $blue-color);
  font-family: "Ubuntu", sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  transform: translateY(80px);

  .input {
    width: 300px;
    height: 55px;
    padding: 10px;
    display: flex;
    color: #444;
    outline: none;
    background: #e8e8e8;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    transition: all 0.5s;
  }

  .error {
    color: lighten(red, 12%);
    font-size: 28px;
    font-weight: bold;
    transition: all 1s;
    transform: translateY(-10px);
    text-align: center;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 600px;
  margin: auto;
  flex-direction: column;
  background-color: darken($blue-color, 13%);
  transform: translateY(180px);
  border-radius: 60px;
  color: #ddd;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 350px;
    height: 350px;
    transform: translateX(-60px);
    margin-left: 50px;
  }

  .city {
    font-size: 40px;
    transform: translateY(-30px);
  }

  .info-tab {
    font-size: 25px;
  }

  .info-tab > p {
    margin-bottom: 15px;
  }
  .temprature {
    font-size: 95px;
  }
}

.loader {
  width: 250px;
  height: 250px;
  margin: auto;
  padding: 15px;
  display: flex;
  align-items: center;
  transform: translateY(330px);
  justify-content: center;

  .cloud {
    width: 250px;
  }

  .front {
    padding-top: 45px;
    margin-left: 25px;
    display: inline;
    position: absolute;
    z-index: 11;
    animation: clouds 8s infinite;
    animation-timing-function: ease-in-out;
  }

  .back {
    margin-top: -30px;
    margin-left: 150px;
    z-index: 12;
    animation: clouds 12s infinite;
    animation-timing-function: ease-in-out;
  }

  .right-front {
    width: 45px;
    height: 45px;
    border-radius: 50% 50% 50% 0%;
    background-color: #4c9beb;
    display: inline-block;
    margin-left: -25px;
    z-index: 5;
  }

  .left-front {
    width: 65px;
    height: 65px;
    border-radius: 50% 50% 0% 50%;
    background-color: #4c9beb;
    display: inline-block;
    z-index: 5;
  }

  .right-back {
    width: 50px;
    height: 50px;
    border-radius: 50% 50% 50% 0%;
    background-color: #4c9beb;
    display: inline-block;
    margin-left: -20px;
    z-index: 5;
  }

  .left-back {
    width: 30px;
    height: 30px;
    border-radius: 50% 50% 0% 50%;
    background-color: #4c9beb;
    display: inline-block;
    z-index: 5;
  }

  .sun {
    width: 200px;
    height: 200px;
    background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
    background: linear-gradient(to right, #fcbb04, #fffc00);
    border-radius: 50%;
    display: inline;
    position: absolute;
  }

  .sunshine {
    animation: sunshines 2s infinite;
  }

  @keyframes sunshines {
    0% {
      transform: scale(1);
      opacity: 0.6;
    }

    100% {
      transform: scale(1.4);
      opacity: 0;
    }
  }

  @keyframes clouds {
    0% {
      transform: translateX(15px);
    }

    50% {
      transform: translateX(0px);
    }

    100% {
      transform: translateX(15px);
    }
  }
}

.hidden{
  display: none;
}

